/* .subject_list_item{
  float: left;
  text-align: left;
  width: 35%;
}

.subject_option_item{
  padding: 0.5rem; 
  border-radius: 0.25rem; 
  border-width: 1px; 
  background-color: #F3F4F6; 
  cursor: pointer;
}
 */
